// --------------------------------------------------------------------------
// Forms - Checkboxes and radios
// --------------------------------------------------------------------------

// Vars
$b-form__option--margin: 0 0 px-to-rem(10px) !default;
$b-form__option--size: px-to-rem(30px) !default;
$b-form__option-faux--border: $b-form__input--border !default;
$b-form__option-faux--background: $b-form__input--background !default;
$b-form__option-faux--transition: $b-form__input--transition !default;
$b-form__option-label--padding: px-to-rem(40px) !default;
$b-form__option-label--font-size: px-to-rem(16px) !default;
$b-form__option-label--line-height: $b-form__option--size !default;
$b-form__option-label--colour: $col-text !default;
$b-form__option-label--active-colour: $col-text !default;
$b-form__option-label--letter-spacing: 0 !default;
$b-form__option-label--font-family: $body !default;
$b-form__option-label--transition: color 250ms ease-in-out !default;
$b-form__option-faux-before--transition: all 250ms ease-in-out !default;
$b-form__option-faux-before--size: px-to-rem(18px) !default;
$b-form__option-faux-before--background: $col1 !default;
$b-form__option-hover-highlight: $col1 !default;

// Styles
.b-form__option {
  margin: $b-form__option--margin;
}

.b-form__option-input {
  position: absolute;
  z-index: z-index("default");
  top: 0;
  left: 0;
  border: 0;
  height: $b-form__option--size;
  width: $b-form__option--size;
  border: 0;
  outline: 0;
  opacity: 0;
}

.b-form__option-label {
  display: inline-block;
  position: relative;
  z-index: z-index("one");
  padding-left: $b-form__option-label--padding;
  font-size: $b-form__option-label--font-size;
  line-height: $b-form__option-label--line-height;
  color: $b-form__option-label--colour;
  letter-spacing: $b-form__option-label--letter-spacing;
  font-family: $b-form__option-label--font-family;
  transition: $b-form__option-label--transition;
  margin: 0;
}

.b-form__option-faux {
  display: block;
  position: absolute;
  z-index: z-index("two");
  top: 0;
  left: 0;
  height: $b-form__option--size;
  width: $b-form__option--size;
  border: $b-form__option-faux--border;
  background: $b-form__option-faux--background;
  transition: $b-form__option-faux--transition;

  &:before {
    display: block;
    content: "";
    position: absolute;
    z-index: z-index("three");
    transform-origin: 50% 50% 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: $b-form__option-faux-before--transition;
    height: $b-form__option-faux-before--size;
    width: $b-form__option-faux-before--size;
    background: $b-form__option-faux-before--background;
  }

  &--radio,
  &--radio:before {
    border-radius: 50%;
  }
}

.b-form__option-input:checked + .b-form__option-label {
  color: $b-form__option-label--active-colour;

  .b-form__option-faux {
    border-color: $b-form__option-hover-highlight;

    &:before {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
