// --------------------------------------------------------------------------
// Forms - File upload input
// --------------------------------------------------------------------------

.b-form__file-upload-container {
  display: block;
  position: relative;
  z-index: z-index("default");
}

.b-form__file-upload {
  line-height: $b-form__input--height;
}
