// --------------------------------------------------------------------------
// Forms - global
// --------------------------------------------------------------------------

// Vars
// Vars - placeholder
$b-form--placeholder--color: $col-text !default;
// Vars - inputs
$b-form__input--color: $col-text !default;
$b-form__input--height-not-rems: 50px !default;
$b-form__input--height: px-to-rem($b-form__input--height-not-rems) !default;
$b-form__input--width: 100% !default;
$b-form__input--padding: 0 px-to-rem(15px) !default;
$b-form__input--border-width: 1px !default;
$b-form__input--border: px-to-rem($b-form__input--border-width) solid $col-invert !default;
$b-form__input--border-radius: 0 !default;
$b-form__input--hover-border-colour: $col1 !default;
$b-form__input--background: $white-colour !default;
$b-form__input--transition: 250ms border-color ease-in-out !default;
$b-form__input--box-shadow: 0 !default;
$b-form__input--margin: 0 0 px-to-rem(5px) !default;
$b-form__input--font-size: $base-font-size !default;
$b-form__input--line-height: $base-line-height !default;

// Styles
::-webkit-input-placeholder {
	color: $b-form--placeholder--color;
	opacity: 1;
}

:-moz-placeholder {
	color: $b-form--placeholder--color;
	opacity: 1;
}

::-moz-placeholder {
	color: $b-form--placeholder--color;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $b-form--placeholder--color;
	opacity: 1;
}

.b-form__input,
.b-form__textarea,
.b-form__select-select,
.b-form__file-upload {
	display: block;
	appearance: none;
	outline: 0;
	color: $b-form__input--color;
	height: $b-form__input--height;
	width: $b-form__input--width;
	padding: $b-form__input--padding;
	border: $b-form__input--border;
	background: $b-form__input--background;
	transition: $b-form__input--transition;
	box-shadow: $b-form__input--box-shadow;
	margin: $b-form__input--margin;
	border-radius: $b-form__input--border-radius;
	font-size: $b-form__input--font-size;
	line-height: $b-form__input--line-height;

	&:hover,
	&:focus,
	&:active {
		border-color: $b-form__input--hover-border-colour;
	}
}
