// --------------------------------------------------------------------------
// Forms - inputs & textarea
// --------------------------------------------------------------------------

// Vars
$b-form__textarea--height: px-to-rem(150px) !default;
$b-form__textarea--padding: px-to-rem(15px) !default;
$b-form__textarea--font-size: $base-font-size !default;
$b-form__textarea--line-height: $base-line-height !default;

// Styles
.b-form__textarea {
  height: $b-form__textarea--height;
  padding: $b-form__textarea--padding;
  resize: none;
  font-size: $b-form__textarea--font-size;
  line-height: $b-form__textarea--line-height;
}
