// --------------------------------------------------------------------------
// Forms - labels
// --------------------------------------------------------------------------

// Vars
$b-form__label--font-size: px-to-rem(16px) !default;
$b-form__label--line-height: $base-line-height !default;
$b-form__label--font-weight: $normal !default;
$b-form__label--letter-spacing: 0 !default;
$b-form__label--margin: 0 0 px-to-rem(10px) 0 !default;
$b-form__label--colour: $col-text !default;

// Styles
.b-form__label {
  display: block;
  width: 100%;
  font-size: $b-form__label--font-size;
  line-height: $b-form__label--line-height;
  font-weight: $b-form__label--font-weight;
  letter-spacing: $b-form__label--letter-spacing;
  margin: $b-form__label--margin;
  color: $b-form__label--colour;

  &.b-hide {
    margin: 0 !important;
  }
}
