// --------------------------------------------------------------------------
// Forms - legend
// --------------------------------------------------------------------------

// Vars
$b-form__legend--font-size: px-to-rem(16px) !default;
$b-form__legend--line-height: $base-line-height !default;
$b-form__legend--font-weight: $normal !default;
$b-form__legend--letter-spacing: 0 !default;
$b-form__legend--margin: 0 0 px-to-rem(10px) 0 !default;
$b-form__legend--colour: $col-text !default;

// Styles
.b-form__legend {
  font-size: $b-form__legend--font-size;
  line-height: $b-form__legend--line-height;
  font-weight: $b-form__legend--font-weight;
  letter-spacing: $b-form__legend--letter-spacing;
  margin: $b-form__legend--margin;
  color: $b-form__legend--colour;
}
