// --------------------------------------------------------------------------
// Forms - Range input
// --------------------------------------------------------------------------

.b-form__range-container {
  position: relative;
  padding-right: px-to-rem(55px);

  .no-js & {
    padding-right: 0;
  }
}

.b-form__range-output {
  position: absolute;
  top: 0;
  right: 0;
  width: px-to-rem(45px);
  text-align: left;
  line-height: px-to-rem(27px);

  .ie10 &,
  .ie11 & {
    top: px-to-rem(20px);
  }

  .no-js & {
    display: none;
  }
}
