// --------------------------------------------------------------------------
// Forms - select
// --------------------------------------------------------------------------

// Vars
$b-form__select--margin: $b-form__input--margin !default;
$b-form__select-arrow--height: $b-form__input--height -
  px-to-rem(2 * $b-form__input--border-width) !default;
$b-form__select-arrow--background: $b-form__input--background !default;
$b-form__select-arrow--colour: $col1 !default;
$b-form__select-arrow--positioning: px-to-rem(
  $b-form__input--border-width
) !default;
$b-form__select-select--padding: 0 px-to-rem(60px) 0 px-to-rem(15px) !default;

// Styles
.b-form__select {
  position: relative;
  z-index: z-index("default");
  margin: $b-form__select--margin;
}

.b-form__select-arrow {
  position: absolute;
  z-index: z-index("four");
  top: $b-form__select-arrow--positioning;
  right: $b-form__select-arrow--positioning;
  pointer-events: none;
  height: $b-form__select-arrow--height;
  width: $b-form__select-arrow--height;
  background: $b-form__select-arrow--background;

  &:before,
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: px-to-rem(9px) px-to-rem(9px) 0 px-to-rem(9px);
  }

  &:before {
    z-index: z-index("three");
    border-color: $b-form__select-arrow--colour transparent transparent
      transparent;
  }

  &:after {
    z-index: z-index("four");
    border-color: $b-form__select-arrow--background transparent transparent
      transparent;
    margin-top: px-to-rem(-3px);
  }
}

.b-form__select-select {
  position: relative;
  z-index: z-index("two");
  margin: 0;
  padding: $b-form__select-select--padding;

  &::-ms-expand {
    display: none;
  }

  // removed dotted lines in firefox browsers
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $b-form__input--color;
  }
}
