// --------------------------------------------------------------------------
// Forms - States i.e. error, success
// The state is applied originally to the form__group element, if this
// changes then change below accordingly
// --------------------------------------------------------------------------

// Form errors
.has-error {
  ::-webkit-input-placeholder {
    color: $alert-negative;
  }

  :-moz-placeholder {
    color: $alert-negative;
  }

  ::-moz-placeholder {
    color: $alert-negative;
  }

  :-ms-input-placeholder {
    color: $alert-negative;
  }

  .b-form__input,
  .b-form__textarea,
  .b-form__select-select,
  .b-form__file-upload,
  .b-form__option-faux,
  .b-form__option-input:checked + .b-form__option-label .b-form__option-faux,
  .b-form__file-upload {
    border-color: $alert-negative;
  }

  .b-form__option-faux:before,
  .b-form__option-faux:after {
    background: $alert-negative;
  }

  .b-form__select-arrow:before {
    border-color: $alert-negative transparent transparent transparent;
  }

  .b-form__input,
  .b-form__textarea,
  .b-form__select-select,
  .b-form__select-display,
  .b-form__file-upload,
  .b-form__option-label,
  .b-form__label,
  .b-form__legend,
  .b-form__message,
  .b-form__range-output {
    color: $alert-negative;
  }

  .b-icon svg {
    fill: $alert-negative;
  }
}

// Form sucesses
.has-success {
  ::-webkit-input-placeholder {
    color: $alert-positive;
  }

  :-moz-placeholder {
    color: $alert-positive;
  }

  ::-moz-placeholder {
    color: $alert-positive;
  }

  :-ms-input-placeholder {
    color: $alert-positive;
  }

  .b-form__input,
  .b-form__textarea,
  .b-form__select-select,
  .b-form__file-upload,
  .b-form__option-faux,
  .b-form__option-input:checked + .b-form__option-label .b-form__option-faux,
  .b-form__file-upload {
    border-color: $alert-positive;
  }

  .b-form__option-faux:before,
  .b-form__option-faux:after {
    background: $alert-positive;
  }

  .b-form__select-arrow:before {
    border-color: $alert-positive transparent transparent transparent;
  }

  .b-form__input,
  .b-form__textarea,
  .b-form__select-select,
  .b-form__select-display,
  .b-form__file-upload,
  .b-form__option-label,
  .b-form__label,
  .b-form__legend,
  .b-form__message,
  .b-form__range-output {
    color: $alert-positive;
  }

  .b-icon svg {
    fill: $alert-positive;
  }
}
