// --------------------------------------------------------------------------
// Alerts
// --------------------------------------------------------------------------

.b-alert {
  padding: px-to-rem(15px);
  margin: $content-margin-bottom 0;
  background: $alert-neutral;
  color: $col-text;

  & * {
    color: $col-text !important;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.b-alert--negative {
  background: $alert-negative;
}

.b-alert--positive {
  background: $alert-positive;
}
