// --------------------------------------------------------------------------
// Buttons
// --------------------------------------------------------------------------

// Button variables, make sure the initial values are px
// ------------------------------------------------------------------

$button-common--border-width: 1px !default;
$button-common--border-color: $col1 !default;
$button-common--border-style: solid !default;

$button-common--font-family: $headings !default;
$button-common--font-weight: $normal !default;
$button-common--font-size: 16px !default;
$button-common--font-color: $col1 !default;
$button-common--font-letter-spacing: 0px !default;
$button-common--font-line-height: 1.1 !default;
$button-common--font-text-transform: uppercase !default;

$button-common--padding-top-bottom: 10px !default;
$button-common--padding-right-left: 20px !default;

$button-common--misc-background: transparent !default;
$button-common--misc-border-radius: $radius !default;
$button-common--misc-smaller-percent: 80 !default;
$button-common--misc-larger-percent: 120 !default;
$button-common--misc-icon-margin: 5px !default;
$button-common--misc-box-shadow: none !default;
$button-common--misc-transition: all 250ms ease-in-out !default;

$button-common--small-font-size: ($button-common--font-size * ($button-common--misc-smaller-percent / 100)) !default;
$button-common--small-padding-top-bottom: ($button-common--padding-top-bottom * ($button-common--misc-smaller-percent / 100)) !default;
$button-common--small-padding-right-left: ($button-common--padding-right-left * ($button-common--misc-smaller-percent / 100)) !default;
$button-common--small-letter-spacing: ($button-common--font-letter-spacing * ($button-common--misc-smaller-percent / 100)) !default;

$button-common--large-font-size: ($button-common--font-size * ($button-common--misc-larger-percent / 100)) !default;
$button-common--large-padding-top-bottom: ($button-common--padding-top-bottom * ($button-common--misc-larger-percent / 100)) !default;
$button-common--large-padding-right-left: ($button-common--padding-right-left * ($button-common--misc-larger-percent / 100)) !default;
$button-common--large-letter-spacing: ($button-common--font-letter-spacing * ($button-common--misc-larger-percent / 100)) !default;

$button-specific: (
	'one': (
		'border': (
			'color': $col1,
			'colorHover': $col1
		),
		'font': (
			'color': $col1,
			'colorHover': $col-base
		),
		'background': (
			'color': transparent,
			'colorHover': $col1
		),
		'focus': (
			'boxShadow': 0 0 0 px-to-rem(4px) $blue-colour
		)
	),
	'two': (
		'border': (
			'color': $col2,
			'colorHover': $col2
		),
		'font': (
			'color': $col2,
			'colorHover': $col-base
		),
		'background': (
			'color': transparent,
			'colorHover': $col2
		),
		'focus': (
			'boxShadow': 0 0 0 px-to-rem(4px) $blue-colour
		)
	),
	'three': (
		'border': (
			'color': $col3,
			'colorHover': $col3
		),
		'font': (
			'color': $col3,
			'colorHover': $col-base
		),
		'background': (
			'color': transparent,
			'colorHover': $col3
		),
		'focus': (
			'boxShadow': 0 0 0 px-to-rem(4px) $blue-colour
		)
	)
) !default;

.b-button {
	@extend %cf;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;

	border-width: px-to-rem($button-common--border-width);
	border-color: $button-common--border-color;
	border-style: $button-common--border-style;
	border-radius: $button-common--misc-border-radius;
	box-shadow: $button-common--misc-box-shadow;
	color: $button-common--font-color;
	font-family: $button-common--font-family;
	font-weight: $button-common--font-weight;
	font-size: px-to-rem($button-common--font-size);
	padding: px-to-rem($button-common--padding-top-bottom) px-to-rem($button-common--padding-right-left);
	line-height: $button-common--font-line-height;
	letter-spacing: px-to-rem($button-common--font-letter-spacing);
	text-transform: $button-common--font-text-transform;
	transition: $button-common--misc-transition;
}

.b-button--icon {
	.b-icon {
		display: inline-block;
		vertical-align: text-top;
		margin-right: $button-common--misc-icon-margin;

		path {
			transition: all 250ms ease-in-out;
			fill: $button-common--font-color;
		}
	}
}

.b-button--small {
	font-size: px-to-rem($button-common--small-font-size);
	padding: px-to-rem($button-common--small-padding-top-bottom) px-to-rem($button-common--small-padding-right-left);
	letter-spacing: px-to-rem($button-common--small-letter-spacing);
}

.b-button--large {
	font-size: px-to-rem($button-common--large-font-size);
	padding: px-to-rem($button-common--large-padding-top-bottom) px-to-rem($button-common--large-padding-right-left);
	letter-spacing: px-to-rem($button-common--large-letter-spacing);
}

.b-button--transparent {
	padding: 0;
	background: none;
	border: 0;
}

@each $key, $value in $button-specific {
	$border: map-get(map-get(map-get($button-specific, $key), 'border'), 'color');
	$borderHover: map-get(map-get(map-get($button-specific, $key), 'border'), 'colorHover');
	$color: map-get(map-get(map-get($button-specific, $key), 'font'), 'color');
	$colorHover: map-get(map-get(map-get($button-specific, $key), 'font'), 'colorHover');
	$background: map-get(map-get(map-get($button-specific, $key), 'background'), 'color');
	$backgroundHover: map-get(map-get(map-get($button-specific, $key), 'background'), 'colorHover');
	$boxShadow: map-get(map-get(map-get($button-specific, $key), 'focus'), 'boxShadow');

	.b-button--#{$key} {
		&,
		&:visited,
		&.b-button--disabled,
		&.b-button--disabled:visited,
		&.b-button--disabled:focus,
		&.b-button--disabled:hover,
		&.b-button--disabled:active {
			border-color: $border;
			color: $color;
			background: $background;
		}

		&:focus,
		&:hover,
		&:active {
			border-color: $borderHover;
			color: $colorHover;
			background: $backgroundHover;
		}

		&:focus {
			box-shadow: $boxShadow;
		}

		&.b-button--disabled,
		&.b-button--disabled:visited,
		&.b-button--disabled:focus,
		&.b-button--disabled:hover,
		&.b-button--disabled:active {
			cursor: not-allowed;
			opacity: 0.4;
		}

		&.b-button--disabled:focus {
			box-shadow: none;
		}

		&.b-button--icon {
			&,
			&:visited,
			&.b-button--disabled,
			&.b-button--disabled:visited,
			&.b-button--disabled:focus,
			&.b-button--disabled:hover,
			&.b-button--disabled:activ {
				path {
					fill: $color;
				}
			}

			&:focus,
			&:hover,
			&:active {
				path {
					fill: $colorHover;
				}
			}
		}
	}
}