// --------------------------------------------------------------------------
// Button group
// --------------------------------------------------------------------------

.b-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: $content-margin-bottom;
}

.b-button-group--full-width {
  .b-button {
    width: 100%;
    margin-top: px-to-rem(5px);

    &:nth-child(1) {
      margin: 0;
    }
  }
}
