// --------------------------------------------------------------------------
// Cards
// --------------------------------------------------------------------------

.b-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.b-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $col2;
}

.b-card__image-container {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  img {
    width: 100%;
    max-width: none;
  }
}

.b-card__text-container {
  flex-grow: 1;
  padding: px-to-rem(20px);
  color: $col-text;
}

// .b-card__title { }

// .b-card__text { }

// left and right aligned image variants
.b-card--right,
.b-card--left {
  @include min-screen(map-get($breakpoints, md)) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .b-card__image-container {
      position: relative;
      width: 20%;
      overflow: hidden;

      img {
        position: absolute;
        height: 100%;
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .b-card__text-container {
      width: 80%;
    }
  }
}

.b-card--right {
  @include min-screen(map-get($breakpoints, md)) {
    flex-direction: row-reverse;
  }
}
