// --------------------------------------------------------------------------
// Embeds
// --------------------------------------------------------------------------

.b-embed {
  display: block;
  background: $col-invert;
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: $content-margin-bottom;

  .b-embed__item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.b-embed--21by9 {
  padding-top: percentage(9 / 21);
}

.b-embed--16by9 {
  padding-top: percentage(9 / 16);
}

.b-embed--4by3 {
  padding-top: percentage(3 / 4);
}

.b-embed--1by1 {
  padding-top: percentage(1 / 1);
}
