// --------------------------------------------------------------------------
// Forms
// --------------------------------------------------------------------------

// Vars
$b-form--padding: 0 !default;
$b-form--margin: 0 0 $content-margin-bottom 0 !default;
$b-form--background: transparent !default;
$b-form--border: none !default;
$b-form--border-radius: 0 !default;
$b-form--box-shadow: none !default;
$b-form__message--font-size: px-to-rem(14px) !default;
$b-form__message--line-height: $base-line-height !default;
$b-form__message--font-weight: $bold !default;
$b-form__message--letter-spacing: 0 !default;
$b-form__group--margin: 0 0 $content-margin-bottom 0 !default;

// Styles
.b-form {
  padding: $b-form--padding;
  margin: $b-form--margin;
  background: $b-form--background;
  border: $b-form--border;
  border-radius: $b-form--border-radius;
  box-shadow: $b-form--box-shadow;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.b-form__group {
  display: block;
  position: relative;
  z-index: z-index("default");
  margin: $b-form__group--margin;

  > * {
    position: relative;
    z-index: z-index("default");
  }
}

.b-form__message {
  font-size: $b-form__message--font-size;
  line-height: $b-form__message--line-height;
  font-weight: $b-form__message--font-weight;
  letter-spacing: $b-form__message--letter-spacing;
}
