// --------------------------------------------------------------------------
// Global tags - i.e. main, article, body etc
// --------------------------------------------------------------------------

html,
body {
  display: block;
  position: fixed;
  z-index: z-index("default");
  overflow: hidden;
  height: 100%;
  width: 100%;
}

// stops css animations running when scaling the browser
body.freeze,
body.freeze * {
  transition: none !important;
}
