// --------------------------------------------------------------------------
// 'Hide' - this is a class type to properly hide content
// This will still make the content visible to screen readers, but visibly
// hide on the frontend
// --------------------------------------------------------------------------

.b-hide {
  position: absolute;
  width: px-to-rem(1px);
  height: px-to-rem(1px);
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(100%);
  border: 0;
  margin: 0;
}
