// --------------------------------------------------------------------------
// Icons
// --------------------------------------------------------------------------

.b-icon {
  display: block;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.b-icon--style {
  &-offline-logo {
    width: px-to-rem(240px);
    height: px-to-rem(52px);
    margin: 0 auto px-to-rem(30px);
  }
}

// This will only work if the svg's are all square.
// To make sure they are use the sketch file in * assets/misc *.
.b-icon--size {
  @for $i from 5 through 100 {
    // turn current number to rem
    $number: #{$i / 16}rem;
    &-#{$i} {
      height: $number;
      width: $number;
    }
  }
}

.b-icon--color {
  &-1 {
    fill: $col1;
  }

  &-2 {
    fill: $col2;
  }

  &-3 {
    fill: $col3;
  }

  &-4 {
    fill: $col4;
  }
}
