// --------------------------------------------------------------------------
// Images
// --------------------------------------------------------------------------

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

.b-image {
  margin-bottom: $content-margin-bottom;
}

.b-image--block {
  display: block;
  max-width: none;
  width: 100%;
}

figure {
  display: inline-block;
  background: $col2;

  img {
    line-height: 1;
  }
}

figcaption {
  padding: px-to-rem(10px) px-to-rem(15px);
}
