.b-lazyload {
  display: block;
  position: relative;
  z-index: z-index("default");
  height: 0;
  overflow: hidden;
  background: $col2;
  width: 100%;
}

.b-lazyload__image {
  display: block;
  position: absolute;
  z-index: z-index("one");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 250ms opacity ease-in-out;
  object-fit: cover;
  overflow: hidden;
  margin: 0;
  text-indent: px-to-rem(-5000000000px);
}

.b-lazyload__image--loaded {
  opacity: 1;
}
