// --------------------------------------------------------------------------
// Lists
// --------------------------------------------------------------------------

ul,
ol {
  padding: 0 0 0 px-to-rem(17px);

  li {
    margin: px-to-rem(10px) 0;
    padding: 0;
  }
}
