// --------------------------------------------------------------------------
// Progress
// --------------------------------------------------------------------------

.b-progress {
  display: block;
  width: 100%;
  position: relative;
  z-index: z-index("default");
  height: px-to-rem(4px);
  margin-bottom: $content-margin-bottom;

  &:after {
    display: block;
    content: "";
    border-radius: px-to-rem(2px);
    height: px-to-rem(2px);
    width: 100%;
    background: rgba($col1, 0.3);
    position: absolute;
    z-index: z-index("minus-one");
    top: px-to-rem(1px);
    left: 0;
    right: 0;
  }
}

.b-progress__inner {
  position: relative;
  z-index: z-index("default");
  display: block;
  background: $col1;
  height: px-to-rem(4px);
  transition: width 250ms ease-in-out;
}
