// --------------------------------------------------------------------------
// Section
// --------------------------------------------------------------------------

.b-section {
  display: block;
  position: relative;
  z-index: z-index("default");
}
