// --------------------------------------------------------------------------
// Tables
// --------------------------------------------------------------------------

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $content-margin-bottom;
  background-color: $col-base;

  th,
  td {
    padding: px-to-rem(5px) px-to-rem(10px);
    vertical-align: top;
    border-top: px-to-rem(1px) solid $col-invert;

    @include min-screen(map-get($breakpoints, md)) {
      padding: px-to-rem(15px) px-to-rem(20px);
    }
  }

  thead th {
    vertical-align: bottom;
    border-bottom: px-to-rem(2px) solid $col-invert;
  }

  tbody + tbody {
    border-top: px-to-rem(2px) solid $col-invert;
  }
}

.b-table--responsive {
  @include max-screen(map-get($breakpoints, md) - 1px) {
    display: block;

    thead,
    tbody,
    tfoot,
    th,
    td,
    tr,
    caption {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr + tr {
      margin-top: px-to-rem(15px);
    }

    th,
    td {
      position: relative;
      border-left: px-to-rem(1px) solid $col-invert;
      border-right: px-to-rem(1px) solid $col-invert;

      &:last-child {
        border-bottom: px-to-rem(1px) solid $col-invert;
      }
    }

    td:before {
      position: relative;
      content: attr(data-heading);
      font-weight: $bold;
      display: block;
      margin: 0 0 px-to-rem(5px);
    }
  }
}

.b-table--nonresponsive {
  display: block;
  overflow-x: auto;
  width: fit-content;
}
