// --------------------------------------------------------------------------
// Tooltips
// --------------------------------------------------------------------------

.b-tooltip {
  cursor: pointer;
  position: relative;
  z-index: z-index("default");
  display: inline-block;
}

.b-tooltip--open {
  z-index: z-index("one");
}

.b-tooltip__text,
.b-tooltip__icon {
  position: relative;
  z-index: z-index("one");
}

.b-tooltip__text {
  text-decoration: underline dotted;
}

.b-tooltip__icon {
  display: inline-block;
  padding: 6px;
  border-radius: 50%;
  background: $col-invert;
  vertical-align: middle;

  .b-icon {
    fill: $col-base;
  }
}

.b-tooltip__message {
  position: absolute;
  z-index: z-index("two");
  background: $col1;
  width: px-to-rem(200px);
  padding: px-to-rem(10px) px-to-rem(15px);
  border-radius: $radius;
  color: $col-base;
  font-size: px-to-rem($base-font-size);
  font-weight: $normal;
  line-height: $base-line-height;

  &:before {
    position: absolute;
    z-index: z-index("minus-one");
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }

  .b-tooltip:not(.b-tooltip--open) & {
    position: absolute;
    width: px-to-rem(1px);
    height: px-to-rem(1px);
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(100%);
    border: 0;
  }
}

.b-tooltip--top .b-tooltip__message {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);

  &:before {
    border-width: 11.314px 11.314px 0 11.314px;
    border-color: $col1 transparent transparent transparent;
    left: calc(50% - 11px);
    bottom: -px-to-rem(11px);
  }
}

.b-tooltip--right .b-tooltip__message {
  top: calc(50% - 3px);
  left: calc(100% + 13px);
  transform: translateY(-50%);

  &:before {
    border-width: 11.314px 11.314px 11.314px 0;
    border-color: transparent $col1 transparent transparent;
    top: calc(50% - 11px);
    left: -px-to-rem(11px);
  }
}

.b-tooltip--bottom .b-tooltip__message {
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);

  &:before {
    border-width: 0 11.314px 11.314px 11.314px;
    border-color: transparent transparent $col1 transparent;
    left: calc(50% - 11px);
    top: -px-to-rem(11px);
  }
}

.b-tooltip--left .b-tooltip__message {
  top: calc(50% - 3px);
  right: calc(100% + 13px);
  transform: translateY(-50%);

  &:before {
    border-width: 11.314px 0 11.314px 11.314px;
    border-color: transparent transparent transparent $col1;
    top: calc(50% - 11px);
    right: -px-to-rem(11px);
  }
}
