// --------------------------------------------------------------------------
// User generated content
// --------------------------------------------------------------------------

.b-ugc {
  outline: none;
  
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
