.b-wrapper {
  display: block;
  position: relative;
  z-index: z-index("default");
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;

  & > * {
    display: block;
    position: relative;
    z-index: z-index("default");
  }
}
