// --------------------------------------------------------------------------
// Functions
// --------------------------------------------------------------------------

// px to rem
// @param {Number} $size - Size of element based on px - '16px'...cannot be '16'
// @return {Number} - Returned is translated $size in rems
@function px-to-rem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

// Line height calc
// @param {Number} $fontsize - font size of text based on px
// @param {Number} $lineheight - line height of text based on px
// @return {Number} - Returned is translated $lineheightSize decimal places
@function get-line-height($fontsize, $lineheight) {
  @return $lineheight / $fontsize;
}

// Aspect ratio
// @param {Number} $height - height of element
// @param {Number} $width - width of element
// @return {Number} - Returned is % value used for lazyload images
@function aspect-ratio($width, $height) {
  @return ($height / $width) * 100%;
}

// z-index
// function to control z-index based on $z-layers map in the vars file
// @param {String} $layer - Key name from $z-layers map
// @return {Number} - Returned is the number value from $z-layers map, if no name could be found a warning will be returned
@function z-index($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No z-index found in $z-layers map for `#{$layer}`. Property omitted.";
  }

  @return map-get($z-layers, $layer);
}

/// Function to get next map item
/// returns next map item or fallback value if map, key or next item does not exist
///
/// @author Simon Koch <agorilla@me.com>
///
/// Licensed under the MIT license.
///
/// @access public
///
/// @param {Map} $map - Sass list map
/// @param {String} $key - List map key
/// @param {Boolean} $fallback (false) - Fallback value if map, key or previous item does not exist
/// @param {String} $return (value) - Return value or key of previous list item
/// @param {Boolean} $debug (false) - Debug option
///
/// @example scss - Usage
///$map: (
///   s: 320px,
///   m: 768px,
/// );
///
/// .foo {
///   width: map-get-next($map, s);
/// }
///
/// .bar {
///    width: map-get-next($map, m, 1024px);
/// }
///
/// @example css - CSS output
/// .foo {
///   width: 768px;
/// }
///
/// .bar {
///   width: 1024px;
/// }

@function map-get-next($map, $key, $fallback: false, $return: value) {
  // Check if map is valid
  @if type-of($map) == map {
    // Check if key exists in map
    @if map-has-key($map, $key) {
      // Init index counter variable
      $i: 0;

      // Init key index
      $key-index: false;

      // Traverse map for key
      @each $map-key, $map-value in $map {
        // Update index
        $i: $i + 1;

        // If map key found, set key index
        @if $map-key == $key {
          $key-index: $i;
        }

        // If next index return next value or key based on $return
        @if $i == $key-index + 1 {
          @if $return == key {
            @return $map-key;
          } @else {
            @return $map-value;
          }
        }

        // If last entry return false
        @if $i == length($map) {
          @return $fallback;
        }
      }

      @warn 'No next map item for key #{$key}';
      @return $fallback;
    }

    @warn 'No valid key #{$key} in map';
    @return $fallback;
  }

  @warn 'No valid map';
  @return $fallback;
}
