// --------------------------------------------------------------------------
// placeholders
// --------------------------------------------------------------------------

// Clearfix
%cf {
  *zoom: 1;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

// vertical alignment hack
%table {
  display: table;
  width: 100%;
  height: 100%;
}

%table__cell {
  display: table-cell;
  width: 100%;
}

%table__cell--middle {
  vertical-align: middle;
}
