// =============================================================================
// Variables
// =============================================================================

// --------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------

// named colour palette
$red-colour: #ff0000 !default;
$orange-colour: orange !default;
$yellow-colour: #e8980c !default;
$green-colour: #8fb63e !default;
$blue-colour: blue !default;
$indigo-colour: indigo !default;
$violet-colour: violet !default;
$white-colour: #ffffff !default;
$lightest-grey-colour: #bfbfbf !default;
$mid-grey-colour: #7f7f7f !default;
$dark-grey-colour: #404040 !default;
$black-colour: #000000 !default;

// brand colour values
$col1: $green-colour;
$col2: $lightest-grey-colour;
$col3: $mid-grey-colour;
$col4: $dark-grey-colour;

// base colour values
$col-base: $white-colour;
$col-invert: $black-colour;
$col-text: $dark-grey-colour;
$col-neutral: $yellow-colour;

//  define alert colours
$alert-negative: $red-colour;
$alert-positive: $green-colour;
$alert-neutral: $yellow-colour;

//  social colours
$facebook: #3b5998 !default;
$twitter: #00aced !default;
$google: #dd4b39 !default;
$youtube: #bb0000 !default;
$linkedin: #007bb6 !default;
$instagram: #517fa4 !default;
$pintrest: #cb2027 !default;
$flicker: #ff0084 !default;
$tumbler: #32506d !default;
$vimeo: #aad450 !default;
$foursquar: #0072b1 !default;
$dribbble: #ea4c89 !default;
$ecce: #8fb63e !default;

// --------------------------------------------------------------------------
// Typography
// --------------------------------------------------------------------------

$headings: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body: $headings !default;
$mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !default;

$normal: 400 !default;
$medium: 600 !default;
$bold: 700 !default;

// --------------------------------------------------------------------------
// Uniform measurement values
// --------------------------------------------------------------------------

$space: 30px !default;
$columns: 12 !default;
$radius: 8px !default;

// Media query breakpoints
// needed for flexbox-grid-sass
// to access use map-get($map, $key) sass function
$breakpoints: (
  xs: 0px,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
) !default;

// z-index map to keep track of layering throughout the site
$z-layers: (
  "goku": 9001,
  "modal": 5000,
  "dropdown": 4000,
  "four": 4,
  "three": 3,
  "two": 2,
  "one": 1,
  "default": 0,
  "minus-one": -1,
  "minus-two": -2,
  "bottomless-pit": -10000,
);

// =============================================================================
// flexbox-grid-sass specific (located in node_modules)
// https://github.com/vivid-web/flexbox-grid-sass
// =============================================================================

// Set max width (based upon above breakpoints) for .grid--container
$max-flexbox-grid-container: map-get($breakpoints, xxl);

// =============================================================================
// Reboot settings
// =============================================================================

$base-font-size: 16px !default;
$base-line-height: get-line-height(16, 19) !default;
$base-font-weight: $normal !default;
$base-font-family: $body !default;
$background: $col-base !default;
$color: $col-text !default;
$headings-margin-bottom: px-to-rem(15px) !default;
$content-margin-bottom: px-to-rem(20px) !default;
$dt-font-weight: $bold !default;
$link-color: $col1 !default;
$link-decoration: none !default;
$link-hover-color: darken($col1, 15%) !default;
$link-hover-decoration: none !default;
$table-cell-padding: px-to-rem(10px) !default;
$text-muted: lighten($col-text, 20%) !default;

// =============================================================================
// Slick slider vars
// overwite vendor, in node_modules
// Uncomment to override indivual scss vars
// =============================================================================

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "/fonts/";
// $slick-font-family		: "slick";
$slick-loader-path: "/img/vendor/slick-slider/";
$slick-arrow-color: $col-base;
$slick-dot-color: $col-invert;
// $slick-dot-color-active	: $slick-dot-color;
// $slick-prev-character	: "\2190";
// $slick-next-character	: "\2192";
// $slick-dot-character		: "\2022";
// $slick-dot-size			: 6px;
// $slick-opacity-default	: 0.75;
// $slick-opacity-on-hover	: 1;
// $slick-opacity-not-active: 0.25;

// =============================================================================
// Range input variables - https://github.com/darlanrod/input-range-scss
// overwite vendor, in node_modules
// =============================================================================

$track-color: $col4;
$thumb-color: $col1;

$thumb-radius: 50%;
$thumb-height: 16px;
$thumb-width: 16px;
$thumb-shadow-size: 2px;
$thumb-shadow-blur: 2px;
$thumb-shadow-color: rgba($col-invert, 0.1);
$thumb-border-width: 0;
$thumb-border-color: $col-invert;

$track-width: 100%;
$track-height: 1px;
$track-shadow-size: 0;
$track-shadow-blur: 0;
$track-shadow-color: rgba($col-invert, 0.2);
$track-border-width: 0;
$track-border-color: $col-invert;

$track-radius: 0;
$range-contrast: 5%;

// =============================================================================
// Form variables
// Located here to make forms easier to edit
// Uncomment to override style from here rather than edit the individual scss's
// =============================================================================

// Main form
// $b-form--padding 						: 0;
// $b-form--margin							: 0 0 $content-margin-bottom 0;
// $b-form--background 					: transparent;
// $b-form--border							: none;
// $b-form--border-radius					: 0;
// $b-form--box-shadow 					: none;

// Main inputs: ([type="text"], [type="email"], [type="number"], [type="tel"], [type="password"], [type="search"], textarea, select
// $b-form__input--color					: $col-text;
// $b-form__input--height-not-rems			: 50px;
// $b-form__input--height					: px-to-rem($b-form__input--height-not-rems);
// $b-form__input--width					: 100%;
// $b-form__input--padding					: 0 px-to-rem(15px);
// $b-form__input--border-width			: 1px;
// $b-form__input--border					: px-to-rem($b-form__input--border-width) solid $col-invert;
// $b-form__input--border-radius            : 0 !default;
// $b-form__input--hover-border-colour		: $col1;
// $b-form__input--background				: $white-colour;
// $b-form__input--transition				: 250ms border-color ease-in-out;
// $b-form__input--box-shadow				: 0;
// $b-form__input--margin					: 0 0 px-to-rem(5px);
// $b-form__input--font-size					: $base-font-size;
// $b-form__input--line-height					: $base-line-height;

// Textarea
// $b-form__textarea--height				: px-to-rem(150px);
// $b-form__textarea--padding				: px-to-rem(15px);
// $b-form__textarea--font-size					: $base-font-size;
// $b-form__textarea--line-height					: $base-line-height;

// Select
// $b-form__select--margin					: $b-form__input--margin;
// $b-form__select-arrow--height: $b-form__input--height - px-to-rem(2 * $b-form__input--border-width);
// $b-form__select-arrow--background		: $b-form__input--background;
// $b-form__select-arrow--colour			: $col1;
// $b-form__select-arrow--positioning	: px-to-rem($b-form__input--border-width);
// $b-form__select-select--padding			: 0 px-to-rem(60px) 0 px-to-rem(15px);

// Radio & Checkbox
// $b-form__option--margin					: 0 0 px-to-rem(10px);
// $b-form__option--size					: px-to-rem(30px);
// $b-form__option-faux--border			: $b-form__input--border;
// $b-form__option-faux--background		: $b-form__input--background;
// $b-form__option-faux--transition		: $b-form__input--transition;
// $b-form__option-label--padding			: px-to-rem(40px);
// $b-form__option-label--font-size: px-to-rem(16px);
// $b-form__option-label--line-height		: $b-form__option--size;
// $b-form__option-label--colour: $col-text;
// $b-form__option-label--active-colour: $col-text;
// $b-form__option-label--letter-spacing: 0;
// $b-form__option-label--font-family: $body;
// $b-form__option-label--transition: color 250ms ease-in-out;
// $b-form__option-faux-before--transition: all 250ms ease-in-out;
// $b-form__option-faux-before--size		: px-to-rem(18px);
// $b-form__option-faux-before--background: $col1;
// $b-form__option-hover-highlight			: $col1;

// "message" (this is the feedback message for each input)
// $b-form__message--font-size				: px-to-rem(14px);
// $b-form__message--line-height			: $base-line-height;
// $b-form__message--font-weight			: $bold;
// $b-form__message--letter-spacing		: 0;

// Labels
// $b-form__label--colour				: $col-text;
// $b-form__label--font-size				: px-to-rem(16px);
// $b-form__label--line-height				: $base-line-height;
// $b-form__label--font-weight				: $normal;
// $b-form__label--letter-spacing			: 0;
// $b-form__label--margin					: 0 0 px-to-rem(10px) 0;

// Legends
// $b-form__legend--colour				: $col-text;
// $b-form__legend--font-size				: px-to-rem(16px);
// $b-form__legend--line-height			: $base-line-height;
// $b-form__legend--font-weight			: $normal;
// $b-form__legend--letter-spacing			: 0;
// $b-form__legend--margin					: 0 0 px-to-rem(10px) 0;

// Misc
// $b-form__group--margin					: 0 0 $content-margin-bottom 0;
// $b-form--placeholder--color				: $col-text;

// =============================================================================
// Button variables
// Located here to make buttons easier to edit
// Uncomment to override style from here rather than edit the individual scss's
// =============================================================================

// Button variables, make sure the initial values are px
// ------------------------------------------------------------------

// $button-common--border-width: 1px;
// $button-common--border-color: $col1;
// $button-common--border-style: solid;

// $button-common--font-family: $headings;
// $button-common--font-weight: $normal;
// $button-common--font-size: 16px;
// $button-common--font-color: $col1;
// $button-common--font-letter-spacing: 0px;
// $button-common--font-line-height: 1.1;
// $button-common--font-text-transform: uppercase;

// $button-common--padding-top-bottom: 10px;
// $button-common--padding-right-left: 20px;

// $button-common--misc-background: transparent;
// $button-common--misc-border-radius: $radius;
// $button-common--misc-smaller-percent: 80;
// $button-common--misc-larger-percent: 120;
// $button-common--misc-icon-margin: 5px;
// $button-common--misc-box-shadow: none;
// $button-common--misc-transition: all 250ms ease-in-out;

// $button-common--small-font-size: ($button-common--font-size * ($button-common--misc-smaller-percent / 100));
// $button-common--small-padding-top-bottom: ($button-common--padding-top-bottom * ($button-common--misc-smaller-percent / 100));
// $button-common--small-padding-right-left: ($button-common--padding-right-left * ($button-common--misc-smaller-percent / 100));
// $button-common--small-letter-spacing: ($button-common--font-letter-spacing * ($button-common--misc-smaller-percent / 100));

// $button-common--large-font-size: ($button-common--font-size * ($button-common--misc-larger-percent / 100));
// $button-common--large-padding-top-bottom: ($button-common--padding-top-bottom * ($button-common--misc-larger-percent / 100));
// $button-common--large-padding-right-left: ($button-common--padding-right-left * ($button-common--misc-larger-percent / 100));
// $button-common--large-letter-spacing: ($button-common--font-letter-spacing * ($button-common--misc-larger-percent / 100));

/*
$button-specific: (
	'one': (
		'border': (
			'color': $col1,
			'colorHover': $col1
		),
		'font': (
			'color': $col1,
			'colorHover': $col-base
		),
		'background': (
			'color': transparent,
			'colorHover': $col1
		),
		'focus': (
			'boxShadow': 0 0 0 px-to-rem(4px) $blue-colour
		)
	),
	'two': (
		'border': (
			'color': $col2,
			'colorHover': $col2
		),
		'font': (
			'color': $col2,
			'colorHover': $col-base
		),
		'background': (
			'color': transparent,
			'colorHover': $col2
		),
		'focus': (
			'boxShadow': 0 0 0 px-to-rem(4px) $blue-colour
		)
	),
	'three': (
		'border': (
			'color': $col3,
			'colorHover': $col3
		),
		'font': (
			'color': $col3,
			'colorHover': $col-base
		),
		'background': (
			'color': transparent,
			'colorHover': $col3
		),
		'focus': (
			'boxShadow': 0 0 0 px-to-rem(4px) $blue-colour
		)
	)
);
*/

// =============================================================================
// Utility specific variables
// =============================================================================

// colours
/* $colour-list: (
		'one': $col1,
		'two': $col2,
		'three': $col3,
		'four': $col4,
		'text': $col-text,
		'negative': $alert-negative,
		'positive': $alert-positive,
		'neutral': $alert-neutral
); */
