// --------------------------------------------------------------------------
// Accordions
// --------------------------------------------------------------------------

.c-accordions {
  display: block;

  margin-bottom: px-to-rem(15px);
}

.c-accordion {
  background: $col2;

  & + .c-accordion {
    margin-top: px-to-rem(15px);
  }
}

.c-accordion__title {
  position: relative;
  z-index: z-index("default");
  background: $col1;
  color: $col-base;
  font-weight: $bold;
  cursor: pointer;
  padding: px-to-rem(15px) px-to-rem(50px) px-to-rem(15px) px-to-rem(15px);

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: z-index("one");
    top: 50%;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg);
    background: $col-base;
    opacity: 1;
    transition: 250ms all ease-in-out;
  }

  &:before {
    width: px-to-rem(20px);
    height: px-to-rem(4px);
    right: px-to-rem(15px);
  }

  &:after {
    height: px-to-rem(20px);
    width: px-to-rem(4px);
    right: px-to-rem((((20px - 4px) / 2) + 15px));
  }
}

.c-accordion__content {
  display: none;
  padding: px-to-rem(10px) px-to-rem(15px);
}

.c-accordion--open {
  & > .c-accordion__title {
    &:before,
    &:after {
      transform: translateY(-50%) rotate(360deg);
    }

    &:after {
      opacity: 0;
    }
  }
}

.no-js {
  .c-accordion__content {
    display: block;
  }

  .c-accordion__title {
    &:before,
    &:after {
      display: none;
    }
  }
}
