// --------------------------------------------------------------------------
// Modals
// --------------------------------------------------------------------------

.c-modal-open {
  overflow: hidden;
}

.c-modal {
  position: fixed;
  z-index: z-index("minus-one");
  height: 100%;
  width: 100%;
  background: rgba($col-invert, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 250ms ease-in-out;
  overflow-x: hidden;
  pointer-events: none;

  body:not(.c-modal-open) & {
    height: 0;
    width: 0;
  }
}

.c-modal--show {
  z-index: z-index("goku") - 1;
  opacity: 1;
  pointer-events: auto;
}

.c-modal__content {
  position: relative;
  z-index: z-index("goku");
  margin: px-to-rem(20px);
  min-height: calc(100% - 40px);

  @include min-screen(map-get($breakpoints, md)) {
    display: flex;
    max-width: px-to-rem(630px);
    margin: px-to-rem(20px) auto;
    transform-origin: 0 0;
  }
}

.c-modal__inner-content {
  position: relative;
  background: $col-base;
  padding: px-to-rem(15px);
  width: 100%;
  margin: auto;
  transition: all 250ms ease-in-out;
  transform-origin: 50% 50%;
}

.c-modal__close {
  position: absolute;
  z-index: z-index("goku") + 1;
  top: px-to-rem(5px);
  right: px-to-rem(5px);
  display: block;
  width: px-to-rem(35px);
  height: px-to-rem(35px);
  border-radius: 50%;
  background: $col-invert;
  cursor: pointer;

  @include min-screen(map-get($breakpoints, md)) {
    top: px-to-rem(20px);
    right: px-to-rem(20px);
  }

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: "";
    background: $col-base;
    top: 50%;
    left: 50%;
    height: px-to-rem(22px);
    width: px-to-rem(3px);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

// Fade in main content
.c-modal--fade {
  .c-modal__inner-content {
    opacity: 0;
  }

  .c-modal__content--show .c-modal__inner-content {
    opacity: 1;
  }
}

// Top animate in main content
.c-modal--top {
  .c-modal__inner-content {
    transform: translateY(-(px-to-rem(50px)));

    @include min-screen(map-get($breakpoints, md)) {
      transform: translateY(-(px-to-rem(30px)));
    }
  }

  .c-modal__content--show .c-modal__inner-content {
    transform: translateY(0);
  }
}

// Right animate in main content
.c-modal--right {
  .c-modal__inner-content {
    transform: translateX(px-to-rem(50px));

    @include min-screen(map-get($breakpoints, md)) {
      transform: translateX(px-to-rem(30px));
    }
  }

  .c-modal__content--show .c-modal__inner-content {
    transform: translateX(0);
  }
}

// Bottom animate in main content
.c-modal--bottom {
  .c-modal__inner-content {
    transform: translateY(px-to-rem(50px));

    @include min-screen(map-get($breakpoints, md)) {
      transform: translateY(px-to-rem(30px));
    }
  }

  .c-modal__content--show .c-modal__inner-content {
    transform: translateY(0);
  }
}

// Left animate in main content
.c-modal--left {
  .c-modal__inner-content {
    transform: translateX(-(px-to-rem(50px)));

    @include min-screen(map-get($breakpoints, md)) {
      transform: translateX(-(px-to-rem(30px)));
    }
  }

  .c-modal__content--show .c-modal__inner-content {
    transform: translateX(0);
  }
}

.c-modal--center-scale {
  .c-modal__inner-content {
    transform: scale(0.75);

    @include min-screen(map-get($breakpoints, md)) {
      transform: scale(0.75);
    }
  }

  .c-modal__content--show .c-modal__inner-content {
    transform: scale(1);

    @include min-screen(map-get($breakpoints, md)) {
      transform: scale(1);
    }
  }
}
