// --------------------------------------------------------------------------
// Navs
// --------------------------------------------------------------------------

// .c-nav { }

.c-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-nav__list-element {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.c-nav__list-element--has-children {
  .c-nav__list,
  .c-nav__list--child {
    @include min-screen(map-get($breakpoints, md)) {
      display: none;
    }

    .c-nav--vertical & {
      padding: px-to-rem(5px) 0 px-to-rem(5px) px-to-rem(5px);
    }
  }
}

.c-nav__list-element--has-children-open {
  .c-nav__list,
  .c-nav__list--child {
    @include min-screen(map-get($breakpoints, md)) {
      display: block;
    }
  }
}

.c-nav__link {
  display: block;
  font-weight: $bold;
  position: relative;

  &,
  &:active,
  &:visited {
    color: $col-text;
  }

  &:hover,
  &:focus {
    color: $col1;
  }
}

.c-nav__link--current {
  &,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $col1;
  }
}

.c-nav__link--disabled {
  opacity: 0.5;
  cursor: default;
  &,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $col-text;
  }
}
