// --------------------------------------------------------------------------
// Sliders
// --------------------------------------------------------------------------

.c-sliders {
  background: $col2;
  z-index: z-index("default");

  .slick-btn {
    z-index: z-index("one");
    height: px-to-rem(27px);

    &:before,
    &:after {
      position: absolute;
      content: "";
      display: block;
      height: px-to-rem(15px);
      width: px-to-rem(4px);
      background: $col-base;
      opacity: 1;
    }

    &:before {
      transform-origin: 50% 100%;
    }

    &:after {
      transform-origin: 50% 0%;
    }

    .no-js & {
      display: none !important;
    }
  }

  .slick-prev,
  .slick-next {
    &.slick-disabled {
      opacity: 0.25;

      &:before,
      &:after {
        opacity: 1;
      }
    }
  }

  .slick-prev {
    left: px-to-rem(15px);

    &:before,
    &:after {
      left: 0;
    }

    &:before {
      transform: rotate(45deg);
      top: 0;
    }

    &:after {
      transform: rotate(-45deg);
      bottom: 0;
    }
  }

  .slick-next {
    right: px-to-rem(15px);

    &:before,
    &:after {
      right: 0;
    }

    &:before {
      transform: rotate(-45deg);
      top: 0;
    }

    &:after {
      transform: rotate(45deg);
      bottom: 0;
    }
  }

  .slick-dots {
    bottom: px-to-rem(15px);
    z-index: z-index("four");

    .no-js & {
      display: none !important;
    }

    & li {
      height: px-to-rem(15px);
      width: px-to-rem(15px);
      margin: 0 px-to-rem(5px);

      button {
        height: px-to-rem(15px);
        width: px-to-rem(15px);

        &:before {
          content: "";
          background: $col-base;
          border-radius: 50%;
          opacity: 0.5;
          height: px-to-rem(15px);
          width: px-to-rem(15px);
        }
      }

      &.slick-active button:before {
        opacity: 1;
      }
    }
  }
}

// No-js fallback
.no-js {
  .c-sliders {
    background: none;
    @extend %cf;
  }

  .c-sliders__slide {
    display: block;
    margin-bottom: px-to-rem(15px);

    &:last-child() {
      margin: 0;
    }
  }
}
