// --------------------------------------------------------------------------
// Tabs
// --------------------------------------------------------------------------

.c-tabs {
  margin-bottom: px-to-rem(30px);
}

.c-tabs__controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.c-tabs__link {
  font-size: px-to-rem(16px);
  font-weight: $normal;
  padding: px-to-rem(10px) px-to-rem(20px);
  border: px-to-rem(1px) solid $col2;
  width: 100%;
  cursor: pointer;

  &,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    background: $col-base;
    color: $col-text;
    border-color: $col2;
  }

  & + .c-tabs__link {
    border-top: 0;
  }

  .ie10 &,
  .ie11 & {
    display: block;
  }
}

.c-tabs__link--active {
  &,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    background: $col2;
    color: $col-text;
    border-color: $col2;
  }
}

.c-tabs__content {
  background: $col2;
  padding: px-to-rem(10px) px-to-rem(20px);
}

.c-tabs__tab {
  display: none;
}

.c-tabs__tab--active {
  display: block;
}

// Tabs top align variant
.c-tabs--top {
  .c-tabs__controls {
    @include min-screen(map-get($breakpoints, md)) {
      flex-direction: row;
      margin: 0 px-to-rem(-1px);
    }
  }

  .c-tabs__link {
    @include min-screen(map-get($breakpoints, md)) {
      width: auto;
      border-bottom: 0;
      margin: 0 px-to-rem(1px);
    }

    & + .c-tabs__link {
      @include min-screen(map-get($breakpoints, md)) {
        border-top: px-to-rem(1px) solid $col2;
      }
    }
  }
}

// Tabs right and left align variant
.c-tabs--right,
.c-tabs--left {
  @include min-screen(map-get($breakpoints, md)) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  .c-tabs__controls {
    @include min-screen(map-get($breakpoints, md)) {
      width: px-to-rem(220px);
    }
  }

  .c-tabs__link {
    display: block;
    width: 100%;
    
    @include min-screen(map-get($breakpoints, md)) {
      text-align: left;
    }
  }

  .c-tabs__content {
    @include min-screen(map-get($breakpoints, md)) {
      width: calc(100% - 220px);
    }
  }
}

// Tabs right align variant
.c-tabs--right {
  @include min-screen(map-get($breakpoints, md)) {
    flex-direction: row-reverse;
  }
}

// No-js fallback
.no-js {
  .c-tabs__controls {
    display: none;
  }

  .c-tabs__content {
    padding: 0;
    background: none;
  }

  .c-tabs__tab {
    display: block;
    margin-bottom: px-to-rem(15px);
    background: $col2;
    padding: px-to-rem(10px) px-to-rem(20px);
  }

  .c-tabs--right,
  .c-tabs--left {
    .c-tabs__content {
      @include min-screen(map-get($breakpoints, md)) {
        width: 100%;
      }
    }
  }
}
