// --------------------------------------------------------------------------
// Navs - Alignment
// By default navs will be aligned horizontally, with no spacing between
// links.
// These styles will override the default.
// --------------------------------------------------------------------------

// Direction of items
// By default navs will be aligned horizontally
// -----------------------
// Horizontal reverse
.c-nav--horizontal-reverse .c-nav__list {
  flex-direction: row-reverse;
}

// Vertical nav
.c-nav--vertical .c-nav__list {
  flex-direction: column;
}

// Vertical reverse nav
.c-nav--vertical-reverse .c-nav__list {
  flex-direction: column-reverse;
}

// Alignment of item on main axis (these work best with horizontal navs, will
// work if the vertical nav has a defined height)
// -----------------------
// Start
.c-nav--start .c-nav__list {
  justify-content: flex-start;
}

// End
.c-nav--end .c-nav__list {
  justify-content: flex-end;
}

// Center
.c-nav--center .c-nav__list {
  justify-content: center;
}

// Space between
.c-nav--space-between .c-nav__list {
  justify-content: space-between;
}

// Space around
.c-nav--space-around .c-nav__list {
  justify-content: space-around;
}

// Space evenly
.c-nav--space-evenly .c-nav__list {
  justify-content: space-evenly;
}
