// --------------------------------------------------------------------------
// Navs - breadcrumb
// --------------------------------------------------------------------------

.c-nav--breadcrumb {
  .c-nav__list-element {
    padding-right: px-to-rem(30px);
    position: relative;

    &:after {
      content: "/";
      display: block;
      line-height: px-to-rem(20px);
      height: px-to-rem(20px);
      width: px-to-rem(6px);
      text-align: center;
      position: absolute;
      right: px-to-rem(15px - 3px);
      top: 0;

      .ie10 &,
      .ie11 & {
        top: px-to-rem(10px);
      }
    }

    &:last-child() {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
}
