// --------------------------------------------------------------------------
// Navs - pagination
// --------------------------------------------------------------------------

.c-nav--pagination {
  margin: 0 (px-to-rem(-1px));

  .c-nav__link {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      line-height: px-to-rem(30px);
      height: px-to-rem(30px);
      width: px-to-rem(30px);
      text-align: center;
      background: $col2;
      color: $col-text;
      transition: all 250ms ease-in-out;
      margin: px-to-rem(1px);
      padding: 0 px-to-rem(5px);
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 0.5;
    }
  }

  .c-nav__link--current {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      background: $col1;
      color: $col-base;
      opacity: 1;
    }
  }

  span.c-nav__link:hover {
    opacity: 1;
  }

  .c-nav__link--direction {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      width: auto;
    }
  }
}

// Pagination sizing
// Large
.c-nav--pagination-large {
  margin: 0 - (px-to-rem(2px));

  .c-nav__link {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      line-height: px-to-rem(40px);
      height: px-to-rem(40px);
      margin: px-to-rem(2px);
      font-size: px-to-rem(19px);
    }
  }

  .c-nav__link:not(.c-nav__link--direction) {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      width: px-to-rem(40px);
    }
  }
}

// Small
.c-nav--pagination-small {
  .c-nav__link {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      line-height: px-to-rem(20px);
      height: px-to-rem(20px);
      font-size: px-to-rem(11px);
      padding: 0 px-to-rem(2px);
    }
  }

  .c-nav__link:not(.c-nav__link--direction) {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      width: px-to-rem(20px);
    }
  }
}
