.u-no-border {
  border-width: 0 !important;
}

.u-no-border-top {
  border-top-width: 0 !important;
}

.u-no-border-right {
  border-right-width: 0 !important;
}

.u-no-border-bottom {
  border-bottom-width: 0 !important;
}

.u-no-border-left {
  border-left-width: 0 !important;
}

@each $key, $value in $breakpoints {
  @if $value != "0px" {
    @include min-screen(#{$value}) {
      .u-no-border-#{$key} {
        border-width: 0 !important;
      }

      .u-no-border-top-#{$key} {
        border-top-width: 0 !important;
      }

      .u-no-border-right-#{$key} {
        border-right-width: 0 !important;
      }

      .u-no-border-bottom-#{$key} {
        border-bottom-width: 0 !important;
      }

      .u-no-border-left-#{$key} {
        border-left-width: 0 !important;
      }
    }

    @include screen(#{$value}, (map-get-next($breakpoints, $key, 500001px) - 1)) {
      .u-no-border-#{$key}-specific {
        border-width: 0 !important;
      }

      .u-no-border-top-#{$key}-specific {
        border-top-width: 0 !important;
      }

      .u-no-border-right-#{$key}-specific {
        border-right-width: 0 !important;
      }

      .u-no-border-bottom-#{$key}-specific {
        border-bottom-width: 0 !important;
      }

      .u-no-border-left-#{$key}-specific {
        border-left-width: 0 !important;
      }
    }
  }
}
