$colour-list: (
  "one": $col1,
  "two": $col2,
  "three": $col3,
  "four": $col4,
  "text": $col-text,
  "negative": $alert-negative,
  "positive": $alert-positive,
  "neutral": $alert-neutral,
) !default;

@each $key, $value in $colour-list {
  .u-text-colour-#{$key} {
    color: $value !important;
  }

  .u-bg-colour-#{$key} {
    background-color: $value !important;
  }

  .u-border-colour-#{$key} {
    border-color: $value !important;
  }
}
