.u-display-none {
	display: none !important;
}

.u-display-block {
	display: block !important;
}

.u-display-inline {
	display: inline !important;
}

.u-display-inline-block {
	display: inline-block !important;
}

@each $key, $value in $breakpoints {
  @if $value != "0px" {
		@include min-screen( #{$value} ) {
			.u-display-none-#{$key} {
				display: none !important;
			}

			.u-display-block-#{$key} {
				display: block !important;
			}

			.u-display-inline-#{$key} {
				display: inline !important;
			}

			.u-display-inline-block-#{$key} {
				display: inline-block !important;
			}
		}

		@include screen(#{$value}, (map-get-next($breakpoints, $key, 500001px) - 1)) {
			.u-display-none-#{$key}-specific {
				display: none !important;
			}

			.u-display-block-#{$key}-specific {
				display: block !important;
			}

			.u-display-inline-#{$key}-specific {
				display: inline !important;
			}

			.u-display-inline-block-#{$key}-specific {
				display: inline-block !important;
			}
		}
  }
}