.u-flex {
  display: flex !important;
}

.u-inline-flex {
  display: inline-flex !important;
}

.u-flex-direction-row {
  flex-direction: row !important;
}

.u-flex-direction-row-reverse {
  flex-direction: row-reverse !important;
}

.u-flex-direction-column {
  flex-direction: column !important;
}

.u-flex-direction-column-reverse {
  flex-direction: column-reverse !important;
}

.u-flex-justify-content-start {
  justify-content: flex-start !important;
}

.u-flex-justify-content-end {
  justify-content: flex-end !important;
}

.u-flex-justify-content-center {
  justify-content: center !important;
}

.u-flex-justify-content-between {
  justify-content: space-between !important;
}

.u-flex-justify-content-around {
  justify-content: space-around !important;
}

.u-flex-align-items-start {
  align-items: flex-start !important;
}

.u-flex-align-items-end {
  align-items: flex-end !important;
}

.u-flex-align-items-center {
  align-items: center !important;
}

.u-flex-align-items-baseline {
  align-items: baseline !important;
}

.u-flex-align-items-stretch {
  align-items: stretch !important;
}

.u-flex-align-self-start {
  align-self: flex-start !important;
}

.u-flex-align-self-end {
  align-self: flex-end !important;
}

.u-flex-align-self-center {
  align-self: center !important;
}

.u-flex-align-self-baseline {
  align-self: baseline !important;
}

.u-flex-align-self-stretch {
  align-self: stretch !important;
}

.u-flex-align-content-start {
  align-content: flex-end !important;
}

.u-flex-align-content-end {
  align-content: flex-start !important;
}

.u-flex-align-content-center {
  align-content: center !important;
}

.u-flex-align-content-around {
  align-content: space-around !important;
}

.u-flex-align-content-stretch {
  align-content: stretch !important;
}

.u-flex-nowrap {
  flex-wrap: nowrap !important;
}

.u-flex-wrap {
  flex-wrap: wrap !important;
}

.u-flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

@each $key, $value in $breakpoints {
  @if $value != "0px" {
    @include min-screen(#{$value}) {
      .u-flex-#{$key} {
        display: flex !important;
      }

      .u-inline-flex-#{$key} {
        display: inline-flex !important;
      }

      .u-flex-direction-row-#{$key} {
        flex-direction: row !important;
      }

      .u-flex-direction-row-reverse-#{$key} {
        flex-direction: row-reverse !important;
      }

      .u-flex-direction-column-#{$key} {
        flex-direction: column !important;
      }

      .u-flex-direction-column-reverse-#{$key} {
        flex-direction: column-reverse !important;
      }

      .u-flex-justify-content-start-#{$key} {
        justify-content: flex-start !important;
      }

      .u-flex-justify-content-end-#{$key} {
        justify-content: flex-end !important;
      }

      .u-flex-justify-content-center-#{$key} {
        justify-content: center !important;
      }

      .u-flex-justify-content-between-#{$key} {
        justify-content: space-between !important;
      }

      .u-flex-justify-content-around-#{$key} {
        justify-content: space-around !important;
      }

      .u-flex-align-items-start-#{$key} {
        align-items: flex-start !important;
      }

      .u-flex-align-items-end-#{$key} {
        align-items: flex-end !important;
      }

      .u-flex-align-items-center-#{$key} {
        align-items: center !important;
      }

      .u-flex-align-items-baseline-#{$key} {
        align-items: baseline !important;
      }

      .u-flex-align-items-stretch-#{$key} {
        align-items: stretch !important;
      }

      .u-flex-align-self-start-#{$key} {
        align-self: flex-start !important;
      }

      .u-flex-align-self-end-#{$key} {
        align-self: flex-end !important;
      }

      .u-flex-align-self-center-#{$key} {
        align-self: center !important;
      }

      .u-flex-align-self-baseline-#{$key} {
        align-self: baseline !important;
      }

      .u-flex-align-self-stretch-#{$key} {
        align-self: stretch !important;
      }

      .u-flex-align-content-start-#{$key} {
        align-content: flex-end !important;
      }

      .u-flex-align-content-end-#{$key} {
        align-content: flex-start !important;
      }

      .u-flex-align-content-center-#{$key} {
        align-content: center !important;
      }

      .u-flex-align-content-around-#{$key} {
        align-content: space-around !important;
      }

      .u-flex-align-content-stretch-#{$key} {
        align-content: stretch !important;
      }

      .u-flex-nowrap-#{$key} {
        flex-wrap: nowrap !important;
      }

      .u-flex-wrap-#{$key} {
        flex-wrap: wrap !important;
      }

      .u-flex-wrap-reverse-#{$key} {
        flex-wrap: wrap-reverse !important;
      }
    }

    @include screen(#{$value}, (map-get-next($breakpoints, $key, 500001px) - 1)) {
      .u-flex-#{$key}-specific {
        display: flex !important;
      }

      .u-inline-flex-#{$key}-specific {
        display: inline-flex !important;
      }

      .u-flex-direction-row-#{$key}-specific {
        flex-direction: row !important;
      }

      .u-flex-direction-row-reverse-#{$key}-specific {
        flex-direction: row-reverse !important;
      }

      .u-flex-direction-column-#{$key}-specific {
        flex-direction: column !important;
      }

      .u-flex-direction-column-reverse-#{$key}-specific {
        flex-direction: column-reverse !important;
      }

      .u-flex-justify-content-start-#{$key}-specific {
        justify-content: flex-start !important;
      }

      .u-flex-justify-content-end-#{$key}-specific {
        justify-content: flex-end !important;
      }

      .u-flex-justify-content-center-#{$key}-specific {
        justify-content: center !important;
      }

      .u-flex-justify-content-between-#{$key}-specific {
        justify-content: space-between !important;
      }

      .u-flex-justify-content-around-#{$key}-specific {
        justify-content: space-around !important;
      }

      .u-flex-align-items-start-#{$key}-specific {
        align-items: flex-start !important;
      }

      .u-flex-align-items-end-#{$key}-specific {
        align-items: flex-end !important;
      }

      .u-flex-align-items-center-#{$key}-specific {
        align-items: center !important;
      }

      .u-flex-align-items-baseline-#{$key}-specific {
        align-items: baseline !important;
      }

      .u-flex-align-items-stretch-#{$key}-specific {
        align-items: stretch !important;
      }

      .u-flex-align-self-start-#{$key}-specific {
        align-self: flex-start !important;
      }

      .u-flex-align-self-end-#{$key}-specific {
        align-self: flex-end !important;
      }

      .u-flex-align-self-center-#{$key}-specific {
        align-self: center !important;
      }

      .u-flex-align-self-baseline-#{$key}-specific {
        align-self: baseline !important;
      }

      .u-flex-align-self-stretch-#{$key}-specific {
        align-self: stretch !important;
      }

      .u-flex-align-content-start-#{$key}-specific {
        align-content: flex-end !important;
      }

      .u-flex-align-content-end-#{$key}-specific {
        align-content: flex-start !important;
      }

      .u-flex-align-content-center-#{$key}-specific {
        align-content: center !important;
      }

      .u-flex-align-content-around-#{$key}-specific {
        align-content: space-around !important;
      }

      .u-flex-align-content-stretch-#{$key}-specific {
        align-content: stretch !important;
      }

      .u-flex-nowrap-#{$key}-specific {
        flex-wrap: nowrap !important;
      }

      .u-flex-wrap-#{$key}-specific {
        flex-wrap: wrap !important;
      }

      .u-flex-wrap-reverse-#{$key}-specific {
        flex-wrap: wrap-reverse !important;
      }
    }
  }
}
