.u-float-right {
  float: right !important;
}

.u-float-left {
  float: left !important;
}

.u-float-none {
  float: none !important;
}

@each $key, $value in $breakpoints {
  @if $value != "0px" {
    @include min-screen(#{$value}) {
      .u-float-right-#{$key} {
        float: right !important;
      }

      .u-float-left-#{$key} {
        float: left !important;
      }

      .u-float-none-#{$key} {
        float: none !important;
      }
    }

    @include screen(#{$value}, (map-get-next($breakpoints, $key, 500001px) - 1)) {
      .u-float-right-#{$key}-specific {
        float: right !important;
      }

      .u-float-left-#{$key}-specific {
        float: left !important;
      }

      .u-float-none-#{$key}-specific {
        float: none !important;
      }
    }
  }
}
