.u-overflow-hidden {
  overflow: hidden !important;
}

.u-overflow-auto {
  overflow: auto !important;
}

@each $key, $value in $breakpoints {
  @if $value != "0px" {
    @include min-screen(#{$value}) {
      .u-overflow-hidden-#{$key} {
        overflow: hidden !important;
      }

      .u-overflow-auto-#{$key} {
        overflow: auto !important;
      }
    }

    @include screen(#{$value}, (map-get-next($breakpoints, $key, 500001px) - 1)) {
      .u-overflow-hidden-#{$key}-specific {
        overflow: hidden !important;
      }

      .u-overflow-auto-#{$key}-specific {
        overflow: auto !important;
      }
    }
  }
}
