.u-no-padding {
  padding: 0 !important;
}

.u-no-padding-top {
  padding-top: 0 !important;
}

.u-no-padding-right {
  padding-right: 0 !important;
}

.u-no-padding-bottom {
  padding-bottom: 0 !important;
}

.u-no-padding-left {
  padding-left: 0 !important;
}

.u-padding {
  padding: px-to-rem(($space)) !important;
}

.u-padding-half {
  padding: px-to-rem(($space * 0.5)) !important;
}

.u-padding-top {
  padding-top: px-to-rem(($space)) !important;
}

.u-padding-top-half {
  padding-top: px-to-rem(($space * 0.5)) !important;
}

.u-padding-right {
  padding-right: px-to-rem(($space)) !important;
}

.u-padding-right-half {
  padding-right: px-to-rem(($space * 0.5)) !important;
}

.u-padding-bottom {
  padding-bottom: px-to-rem(($space)) !important;
}

.u-padding-bottom-half {
  padding-bottom: px-to-rem(($space * 0.5)) !important;
}

.u-padding-left {
  padding-left: px-to-rem(($space)) !important;
}

.u-padding-left-half {
  padding-left: px-to-rem(($space * 0.5)) !important;
}

.u-no-margin {
  margin: 0 !important;
}

.u-no-margin-top {
  margin-top: 0 !important;
}

.u-no-margin-right {
  margin-right: 0 !important;
}

.u-no-margin-bottom {
  margin-bottom: 0 !important;
}

.u-no-margin-left {
  margin-left: 0 !important;
}

.u-margin {
  margin: px-to-rem(($space)) !important;
}

.u-margin-half {
  margin: px-to-rem(($space * 0.5)) !important;
}

.u-margin-top {
  margin-top: px-to-rem(($space)) !important;
}

.u-margin-top-half {
  margin-top: px-to-rem(($space * 0.5)) !important;
}

.u-margin-right {
  margin-right: px-to-rem(($space)) !important;
}

.u-margin-right-half {
  margin-right: px-to-rem(($space * 0.5)) !important;
}

.u-margin-bottom {
  margin-bottom: px-to-rem(($space)) !important;
}

.u-margin-bottom-half {
  margin-bottom: px-to-rem(($space * 0.5)) !important;
}

.u-margin-left {
  margin-left: px-to-rem(($space)) !important;
}

.u-margin-left-half {
  margin-left: px-to-rem(($space * 0.5)) !important;
}

.u-margin-top-auto {
  margin-top: auto !important;
}

.u-margin-right-auto {
  margin-right: auto !important;
}

.u-margin-bottom-auto {
  margin-bottom: auto !important;
}

.u-margin-left-auto {
  margin-top: auto !important;
}

@each $key, $value in $breakpoints {
  @if $value != "0px" {
    @include min-screen(#{$value}) {
      .u-no-padding-#{$key} {
        padding: 0 !important;
      }

      .u-no-padding-top-#{$key} {
        padding-top: 0 !important;
      }

      .u-no-padding-right-#{$key} {
        padding-right: 0 !important;
      }

      .u-no-padding-bottom-#{$key} {
        padding-bottom: 0 !important;
      }

      .u-no-padding-left-#{$key} {
        padding-left: 0 !important;
      }

      .u-padding-#{$key} {
        padding: px-to-rem(($space)) !important;
      }

      .u-padding-half-#{$key} {
        padding: px-to-rem(($space * 0.5)) !important;
      }

      .u-padding-top-#{$key} {
        padding-top: px-to-rem(($space)) !important;
      }

      .u-padding-top-half-#{$key} {
        padding-top: px-to-rem(($space * 0.5)) !important;
      }

      .u-padding-right-#{$key} {
        padding-right: px-to-rem(($space)) !important;
      }

      .u-padding-right-half-#{$key} {
        padding-right: px-to-rem(($space * 0.5)) !important;
      }

      .u-padding-bottom-#{$key} {
        padding-bottom: px-to-rem(($space)) !important;
      }

      .u-padding-bottom-half-#{$key} {
        padding-bottom: px-to-rem(($space * 0.5)) !important;
      }

      .u-padding-left-#{$key} {
        padding-left: px-to-rem(($space)) !important;
      }

      .u-padding-left-half-#{$key} {
        padding-left: px-to-rem(($space * 0.5)) !important;
      }

      .u-no-margin-#{$key} {
        margin: 0 !important;
      }

      .u-no-margin-top-#{$key} {
        margin-top: 0 !important;
      }

      .u-no-margin-right-#{$key} {
        margin-right: 0 !important;
      }

      .u-no-margin-bottom-#{$key} {
        margin-bottom: 0 !important;
      }

      .u-no-margin-left-#{$key} {
        margin-left: 0 !important;
      }

      .u-margin-#{$key} {
        margin: px-to-rem(($space)) !important;
      }

      .u-margin-half-#{$key} {
        margin: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-top-#{$key} {
        margin-top: px-to-rem(($space)) !important;
      }

      .u-margin-top-half-#{$key} {
        margin-top: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-right-#{$key} {
        margin-right: px-to-rem(($space)) !important;
      }

      .u-margin-right-half-#{$key} {
        margin-right: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-bottom-#{$key} {
        margin-bottom: px-to-rem(($space)) !important;
      }

      .u-margin-bottom-half-#{$key} {
        margin-bottom: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-left-#{$key} {
        margin-left: px-to-rem(($space)) !important;
      }

      .u-margin-left-half-#{$key} {
        margin-left: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-top-auto-#{$key} {
        margin-top: auto !important;
      }

      .u-margin-right-auto-#{$key} {
        margin-right: auto !important;
      }

      .u-margin-bottom-auto-#{$key} {
        margin-bottom: auto !important;
      }

      .u-margin-left-auto-#{$key} {
        margin-top: auto !important;
      }
    }

    @include screen(#{$value}, (map-get-next($breakpoints, $key, 500001px) - 1)) {
      .u-no-padding-#{$key}-specific {
        padding: 0 !important;
      }

      .u-no-padding-top-#{$key}-specific {
        padding-top: 0 !important;
      }

      .u-no-padding-right-#{$key}-specific {
        padding-right: 0 !important;
      }

      .u-no-padding-bottom-#{$key}-specific {
        padding-bottom: 0 !important;
      }

      .u-no-padding-left-#{$key}-specific {
        padding-left: 0 !important;
      }

      .u-padding-#{$key}-specific {
        padding: px-to-rem(($space)) !important;
      }

      .u-padding-half-#{$key}-specific {
        padding: px-to-rem(($space * 0.5)) !important;
      }

      .u-padding-top-#{$key}-specific {
        padding-top: px-to-rem(($space)) !important;
      }

      .u-padding-top-half-#{$key}-specific {
        padding-top: px-to-rem(($space * 0.5)) !important;
      }

      .u-padding-right-#{$key}-specific {
        padding-right: px-to-rem(($space)) !important;
      }

      .u-padding-right-half-#{$key}-specific {
        padding-right: px-to-rem(($space * 0.5)) !important;
      }

      .u-padding-bottom-#{$key}-specific {
        padding-bottom: px-to-rem(($space)) !important;
      }

      .u-padding-bottom-half-#{$key}-specific {
        padding-bottom: px-to-rem(($space * 0.5)) !important;
      }

      .u-padding-left-#{$key}-specific {
        padding-left: px-to-rem(($space)) !important;
      }

      .u-padding-left-half-#{$key}-specific {
        padding-left: px-to-rem(($space * 0.5)) !important;
      }

      .u-no-margin-#{$key}-specific {
        margin: 0 !important;
      }

      .u-no-margin-top-#{$key}-specific {
        margin-top: 0 !important;
      }

      .u-no-margin-right-#{$key}-specific {
        margin-right: 0 !important;
      }

      .u-no-margin-bottom-#{$key}-specific {
        margin-bottom: 0 !important;
      }

      .u-no-margin-left-#{$key}-specific {
        margin-left: 0 !important;
      }

      .u-margin-#{$key}-specific {
        margin: px-to-rem(($space)) !important;
      }

      .u-margin-half-#{$key}-specific {
        margin: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-top-#{$key}-specific {
        margin-top: px-to-rem(($space)) !important;
      }

      .u-margin-top-half-#{$key}-specific {
        margin-top: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-right-#{$key}-specific {
        margin-right: px-to-rem(($space)) !important;
      }

      .u-margin-right-half-#{$key}-specific {
        margin-right: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-bottom-#{$key}-specific {
        margin-bottom: px-to-rem(($space)) !important;
      }

      .u-margin-bottom-half-#{$key}-specific {
        margin-bottom: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-left-#{$key}-specific {
        margin-left: px-to-rem(($space)) !important;
      }

      .u-margin-left-half-#{$key}-specific {
        margin-left: px-to-rem(($space * 0.5)) !important;
      }

      .u-margin-top-auto-#{$key}-specific {
        margin-top: auto !important;
      }

      .u-margin-right-auto-#{$key}-specific {
        margin-right: auto !important;
      }

      .u-margin-bottom-auto-#{$key}-specific {
        margin-bottom: auto !important;
      }

      .u-margin-left-auto-#{$key}-specific {
        margin-top: auto !important;
      }
    }
  }
}
