.u-align-left {
  text-align: left !important;
}

.u-align-right {
  text-align: right !important;
}

.u-align-center {
  text-align: center !important;
}

.u-align-justify {
  text-align: justify !important;
}

.u-transform-uppercase {
  text-transform: uppercase !important;
}

.u-transform-lowercase {
  text-transform: lowercase !important;
}

.u-transform-capitalize {
  text-transform: capitalize !important;
}

.u-transform-none {
  text-transform: none !important;
}

.u-font-weight-normal {
  font-weight: $normal !important;
}

.u-font-weight-medium {
  font-weight: $medium !important;
}

.u-font-weight-bold {
  font-weight: $bold !important;
}

.u-text-decoration-none {
  text-decoration: none !important;
}

.u-ellipsis {
  display: block !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

@each $key, $value in $breakpoints {
  @if $value != "0px" {
    @include min-screen(#{$value}) {
      .u-align-left-#{$key} {
        text-align: left !important;
      }

      .u-align-right-#{$key} {
        text-align: right !important;
      }

      .u-align-center-#{$key} {
        text-align: center !important;
      }

      .u-align-justify-#{$key} {
        text-align: justify !important;
      }

      .u-transform-uppercase-#{$key} {
        text-transform: uppercase !important;
      }

      .u-transform-lowercase-#{$key} {
        text-transform: lowercase !important;
      }

      .u-transform-capitalize-#{$key} {
        text-transform: capitalize !important;
      }

      .u-transform-none-#{$key} {
        text-transform: none !important;
      }

      .u-font-weight-normal-#{$key} {
        font-weight: $normal !important;
      }

      .u-font-weight-medium-#{$key} {
        font-weight: $medium !important;
      }

      .u-font-weight-bold-#{$key} {
        font-weight: $bold !important;
      }

      .u-text-decoration-none-#{$key} {
        text-decoration: none !important;
      }

      .u-ellipsis-#{$key} {
        display: block !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
      }
    }

    @include screen(#{$value}, (map-get-next($breakpoints, $key, 500001px) - 1)) {
      .u-align-left-#{$key}-specific {
        text-align: left !important;
      }

      .u-align-right-#{$key}-specific {
        text-align: right !important;
      }

      .u-align-center-#{$key}-specific {
        text-align: center !important;
      }

      .u-align-justify-#{$key}-specific {
        text-align: justify !important;
      }

      .u-transform-uppercase-#{$key}-specific {
        text-transform: uppercase !important;
      }

      .u-transform-lowercase-#{$key}-specific {
        text-transform: lowercase !important;
      }

      .u-transform-capitalize-#{$key}-specific {
        text-transform: capitalize !important;
      }

      .u-transform-none-#{$key}-specific {
        text-transform: none !important;
      }

      .u-font-weight-normal-#{$key}-specific {
        font-weight: $normal !important;
      }

      .u-font-weight-medium-#{$key}-specific {
        font-weight: $medium !important;
      }

      .u-font-weight-bold-#{$key}-specific {
        font-weight: $bold !important;
      }

      .u-text-decoration-none-#{$key}-specific {
        text-decoration: none !important;
      }

      .u-ellipsis-#{$key}-specific {
        display: block !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
      }
    }
  }
}
