.u-vertical-align-baseline {
  vertical-align: baseline !important;
}

.u-vertical-align-top {
  vertical-align: top !important;
}

.u-vertical-align-middle {
  vertical-align: middle !important;
}

.u-vertical-align-bottom {
  vertical-align: bottom !important;
}

.u-vertical-align-text-top {
  vertical-align: text-top !important;
}

.u-vertical-align-text-bottom {
  vertical-align: text-bottom !important;
}

@each $key, $value in $breakpoints {
  @if $value != "0px" {
    @include min-screen(#{$value}) {
      .u-vertical-align-baseline-#{$key} {
        vertical-align: baseline !important;
      }

      .u-vertical-align-top-#{$key} {
        vertical-align: top !important;
      }

      .u-vertical-align-middle-#{$key} {
        vertical-align: middle !important;
      }

      .u-vertical-align-bottom-#{$key} {
        vertical-align: bottom !important;
      }

      .u-vertical-align-text-top-#{$key} {
        vertical-align: text-top !important;
      }

      .u-vertical-align-text-bottom-#{$key} {
        vertical-align: text-bottom !important;
      }
    }

    @include screen(#{$value}, (map-get-next($breakpoints, $key, 500001px) - 1)) {
      .u-vertical-align-baseline-#{$key}-specific {
        vertical-align: baseline !important;
      }

      .u-vertical-align-top-#{$key}-specific {
        vertical-align: top !important;
      }

      .u-vertical-align-middle-#{$key}-specific {
        vertical-align: middle !important;
      }

      .u-vertical-align-bottom-#{$key}-specific {
        vertical-align: bottom !important;
      }

      .u-vertical-align-text-top-#{$key}-specific {
        vertical-align: text-top !important;
      }

      .u-vertical-align-text-bottom-#{$key}-specific {
        vertical-align: text-bottom !important;
      }
    }
  }
}
