.u-visible {
  visibility: visible !important;
}

.u-invisible {
  visibility: hidden !important;
}

@each $key, $value in $breakpoints {
  @if $value != "0px" {
    @include min-screen(#{$value}) {
      .u-visible-#{$key} {
        visibility: visible !important;
      }

      .u-invisible-#{$key} {
        visibility: hidden !important;
      }
    }

    @include screen(#{$value}, (map-get-next($breakpoints, $key, 500001px) - 1)) {
      .u-visible-#{$key}-specific {
        visibility: visible !important;
      }

      .u-invisible-#{$key}-specific {
        visibility: hidden !important;
      }
    }
  }
}
